<?xml version="1.0" encoding="UTF-8"?>
<Config>
  <VehicleVid>
  </VehicleVid>
  <SIMPIN>
  </SIMPIN>
  <GSMBand>2</GSMBand>
  <APN>internet</APN>
  <APNUserName>UserrrrName</APNUserName>
  <APNPassword>
  </APNPassword>
  <DomainorIp>1</DomainorIp>
  <Domain>195.93.180.35</Domain>
  <Port>20130</Port>
  <Protocol>0</Protocol>
  <ServerResponseTimeout>30</ServerResponseTimeout>
  <Heartbeat>300</Heartbeat>
  <MovementDetectionIgnition>0</MovementDetectionIgnition>
  <Movement3D>0</Movement3D>
  <MovementDelay>20</MovementDelay>
  <Ignitioncb>0</Ignitioncb>
  <MovingTime1>60</MovingTime1>
  <MovingDistance1>500</MovingDistance1>
  <MovingAngle1>5</MovingAngle1>
  <StopTime1>120</StopTime1>
  <Sleep1>0</Sleep1>
  <SleepDelay1>120</SleepDelay1>
  <OBDTimecb>120</OBDTimecb>
  <MaxAccelerationcb>0</MaxAccelerationcb>
  <MaxBreakcb>0</MaxBreakcb>
  <OverSpeed>0</OverSpeed>
  <OverSpeedValue>100</OverSpeedValue>
  <Temperature1>0</Temperature1>
  <MinVal1>0</MinVal1>
  <MaxVal1>50</MaxVal1>
  <Temperature2>0</Temperature2>
  <MinVal2>0</MinVal2>
  <MaxVal2>50</MaxVal2>
  <MonitorAutoanswer>0</MonitorAutoanswer>
  <AuthorizedPhone1>
  </AuthorizedPhone1>
  <AuthorizedPhone2>
  </AuthorizedPhone2>
  <AuthorizedPhone3>
  </AuthorizedPhone3>
  <AD2orIN1>0</AD2orIN1>
  <IN2>0</IN2>
  <IN3>0</IN3>
  <IN4>0</IN4>
  <SOS>0</SOS>
  <OutPut1>0</OutPut1>
  <OutPut2>0</OutPut2>
  <OutPut3>0</OutPut3>
  <OutPut4>0</OutPut4>
  <AD1>0</AD1>
  <AD1Percent>0</AD1Percent>
  <AD1Lowlevel>0</AD1Lowlevel>
  <AD1Highlevel>0</AD1Highlevel>
  <AD2>0</AD2>
  <AD2Percent>0</AD2Percent>
  <AD2Lowlevel>0</AD2Lowlevel>
  <AD2Highlevel>0</AD2Highlevel>
  <AD3>0</AD3>
  <AD3Percent>0</AD3Percent>
  <AD3Lowlevel>0</AD3Lowlevel>
  <AD3Highlevel>0</AD3Highlevel>
  <AD4>0</AD4>
  <AD4Percent>0</AD4Percent>
  <AD4Lowlevel>0</AD4Lowlevel>
  <AD4Highlevel>0</AD4Highlevel>
  <GeoEnterevent>0</GeoEnterevent>
  <GeoExitevent>0</GeoExitevent>
  <GeoRadius>500</GeoRadius>
  <GeoLat1>55.82</GeoLat1>
  <GeoLong1>37.35</GeoLong1>
  <TargetPhone>
  </TargetPhone>
  <Gpsantennacut>1</Gpsantennacut>
  <Externalpowercut>1</Externalpowercut>
  <Tow>1</Tow>
  <SMSSOS>1</SMSSOS>
  <GEOIN>0</GEOIN>
  <GEOOUT>1</GEOOUT>
  <IN1ON>1</IN1ON>
  <IN1OFF>1</IN1OFF>
  <IN2ON>1</IN2ON>
  <IN2OFF>1</IN2OFF>
  <IN3ON>1</IN3ON>
  <IN3OFF>1</IN3OFF>
  <IN4ON>1</IN4ON>
  <IN4OFF>1</IN4OFF>
  <LowBattery>1</LowBattery>
</Config>